<h1>Editing foodproduct</h1>

<%= render "form", foodproduct: @foodproduct %>

<br>

<div>
  <%= link_to "Show this foodproduct", @foodproduct %> |
  <%= link_to "Back to foodproducts", foodproducts_path %>
</div>
