<h1>Editing householdproduct</h1>

<%= render "form", householdproduct: @householdproduct %>

<br>

<div>
  <%= link_to "Show this householdproduct", @householdproduct %> |
  <%= link_to "Back to householdproducts", householdproducts_path %>
</div>
