<div id="<%= dom_id allproduct %>">
  <p>
    <strong>Name:</strong>
    <%= allproduct.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= allproduct.image %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= allproduct.price %>
  </p>

</div>
