<h1>Editing allproduct</h1>

<%= render "form", allproduct: @allproduct %>

<br>

<div>
  <%= link_to "Show this allproduct", @allproduct %> |
  <%= link_to "Back to allproducts", allproducts_path %>
</div>
