<p style="color: green"><%= notice %></p>

<h1>Allproducts</h1>

<div id="allproducts">
  <% @allproducts.each do |allproduct| %>
    <%= render allproduct %>
    <p>
      <%= link_to "Show this allproduct", allproduct %>
    </p>
  <% end %>
</div>

<%= link_to "New allproduct", new_allproduct_path %>
