<h1>Editing vegesproduct</h1>

<%= render "form", vegesproduct: @vegesproduct %>

<br>

<div>
  <%= link_to "Show this vegesproduct", @vegesproduct %> |
  <%= link_to "Back to vegesproducts", vegesproducts_path %>
</div>
