*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.magunaforo{
  width: 12%;
}
.searchcont{
  position: relative;
  display: inline-block;
}
.search-input{
  padding: 8px 140px 8px 10px ;
  border: 1px solid green;
  border-radius: 4px;
}
#magnify{
  position: absolute;
  top: 20%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
.homebox1{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px;
}
.signcart{
  display: flex;
gap: 1rem;
}
.homebox2{
  display: flex;
  gap: 4rem;
  justify-content: center;
  margin-top: -3%;
}
.signcartbtn{
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}
.cartimg{
  font-size: 24px;
}
.homebox2 button {
  border: none;
  cursor: pointer;
  padding: 6px;
  border-radius: 10px;
  background-color: rgba(168, 239, 221, 0.356);
}
.homebox2 button a{
  text-decoration: none;
  color: black;
}












@media screen and (max-width: 695px) {
  .search-input{
    padding: 4px 0px 4px 5px ;
    border: 1px solid green;
    border-radius: 4px;
  }
  #magnify{
    position: absolute;
    top: 20%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .magunaforo{
    width: 32%;
  }
}






@media screen and (max-width: 380px) {
  
}
