<h1>Editing bevaragesproduct</h1>

<%= render "form", bevaragesproduct: @bevaragesproduct %>

<br>

<div>
  <%= link_to "Show this bevaragesproduct", @bevaragesproduct %> |
  <%= link_to "Back to bevaragesproducts", bevaragesproducts_path %>
</div>
