<div id="<%= dom_id newproduct %>">
  <p>
    <strong>Image:</strong>
    <%= newproduct.image %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= newproduct.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= newproduct.price %>
  </p>

</div>
