<h1>Editing newproduct</h1>

<%= render "form", newproduct: @newproduct %>

<br>

<div>
  <%= link_to "Show this newproduct", @newproduct %> |
  <%= link_to "Back to newproducts", newproducts_path %>
</div>
