<p style="color: green"><%= notice %></p>

<h1>Newproducts</h1>

<div id="newproducts">
  <% @newproducts.each do |newproduct| %>
    <%= render newproduct %>
    <p>
      <%= link_to "Show this newproduct", newproduct %>
    </p>
  <% end %>
</div>

<%= link_to "New newproduct", new_newproduct_path %>
