<h1>Editing babyproduct</h1>

<%= render "form", babyproduct: @babyproduct %>

<br>

<div>
  <%= link_to "Show this babyproduct", @babyproduct %> |
  <%= link_to "Back to babyproducts", babyproducts_path %>
</div>
