<h1>Editing cosmeticsproduct</h1>

<%= render "form", cosmeticsproduct: @cosmeticsproduct %>

<br>

<div>
  <%= link_to "Show this cosmeticsproduct", @cosmeticsproduct %> |
  <%= link_to "Back to cosmeticsproducts", cosmeticsproducts_path %>
</div>
