<h1>Editing foodyproduct</h1>

<%= render "form", foodyproduct: @foodyproduct %>

<br>

<div>
  <%= link_to "Show this foodyproduct", @foodyproduct %> |
  <%= link_to "Back to foodyproducts", foodyproducts_path %>
</div>
